.form {border: 2px;padding: 50px;outline:10px ;}
.hd{color:blue;}
.hd1{color: red;}
.table{padding: 50px;}
.align {text-align:center;}
.td {width:45%;}
.rw {height: 50px;}
.tw {width: 60%;}
.dot {width: 10%;}
.al{text-align: left;padding-left:5% ;}
.b{font-weight: bold;}